.skills-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skills-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skills-container ul {
    list-style-type: none;
  }
  
  .skills-container li {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
  }