<div class="container">
  <h1>Мое резюме</h1>

  <app-personal-info></app-personal-info>

  <app-work-experience></app-work-experience>
  <app-skills></app-skills>

  <div class="photo-container">
    <h2>Фотография</h2>
    <img src="assets/Photo.jpg" alt="Your Photo">
  </div>

  <div class="resources-container">
    <h2>Ссылки на ресурсы</h2>
    <ul>
      <li><a href="https://github.com/DaKi42">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/yourprofile">LinkedIn</a></li>
    </ul>
  </div>
</div>